<div class="mx-10">
  <div class="m-2 mb-10">
    <h1 class="text-red-500 text-3xl text-center">The Wishlist</h1>
  </div>
  @if(items.length > 0) {
  <div class="flex justify-center items-center">
    <ul class="flex flex-col gap-4">
      @for (item of items; track $index) {
      <li>
        <label class="flex gap-2">
          <input type="checkbox" />{{ item.wishTitle }}</label
        >
      </li>
      }
    </ul>
  </div>
  } @else {
  <div class="flex justify-center items-center">No wishes to display</div>
  }
</div>
